<div class="section">
  <div class="wrapper">
    <div class="section section-basic">
      <div class="container">
        <h2 class="title text-center">Latest Properties</h2>
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <img src="../../../assets/img/bg6.jpg" alt="Thumbnail Image" class="card-img card-img-top img-fluid">
                <div class="container">
                  <p class="text-center" style="margin-top:10px;">House Name <span class="badge badge-success">12000/Per Month</span></p>
                  <div><a  class="btn btn-info btn-sm btn-icon"><i class="fa fa-map-marker" style="color:white"></i></a> West Indies</div>
                  <div><a  class="btn btn-info btn-sm btn-icon"><i class="fa fa-bed" style="color: white"></i></a> 3</div>
                  <div class="text-center">
                    <button class="btn btn-info btn-outline-info"> View Property</button>
                  </div>
              </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <img src="../../../assets/img/bg7.jpg" alt="Thumbnail Image" class="card-img card-img-top img-fluid">
                <div class="container">
                  <p class="text-center" style="margin-top:10px;">House Name <span class="badge badge-success">12000/Per Month</span></p>
                  <div><a  class="btn btn-info btn-sm btn-icon"><i class="fa fa-map-marker" style="color:white"></i></a> West Indies</div>
                  <div><a  class="btn btn-info btn-sm btn-icon"><i class="fa fa-bed" style="color: white"></i></a> 3</div>
                  <div class="text-center">
                    <button class="btn btn-info btn-outline-info"> View Property</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <img src="../../../assets/img/bg5.jpg" alt="Thumbnail Image" class="card-img card-img-top img-fluid">
                <div class="container">
                  <p class="text-center" style="margin-top:10px;">House Name <span class="badge badge-success">12000/Per Month</span></p>
                  <div><a  class="btn btn-info btn-sm btn-icon"><i class="fa fa-map-marker" style="color:white"></i></a> West Indies</div>
                  <div><a  class="btn btn-info btn-sm btn-icon"><i class="fa fa-bed" style="color: white"></i></a> 3</div>
                  <div class="text-center">
                    <button class="btn btn-info btn-outline-info"> View Property</button>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
